@font-face {
  font-family: TITOLO;
  src: url('../fonts/titolo.ttf')  format('truetype');
}

@font-face {
  font-family: PAR;
  src: url('../fonts/morn.otf')  format('opentype');
}

@font-face {
  font-family: H3;
  src: url('../fonts/GOTHIC.TTF')  format('truetype');
}

.header img{
  float: right;
  width: 170px;
  height: 180px;
  background: transparent;

}

.h1_homepage {
  font-family: "TITOLO"; /* non prende i font, che palle*/
  font-style: normal;
  color: #c7c2c2;
  font-size: 6vw;
}


.h3_homepage {
  font-family: "H3";
  font-style: normal;
  color: #b3b3b3;
  font-size: 30px;
}


.p_homepage {
  font-family: "PAR";
  font-style: normal;
  text-align: justify;
  color: #c7c2c2;
  font-size: 20px;
}


.body_homepage{
  background-color: black;
}


.flex_homepage{
  background-color: black;
}


#demo {
  height: 400px;
  width: 100%;
  overflow: hidden;    
}

.carousel-inner > .carousel-item > .img-fluid, .carousel-inner > .item > a > img {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: tomato;
  padding: 10px;
}

.grid-item {
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 30px;
  font-size: 20px;
}

/*NAV BAR*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li { /*questo colora le barre*/
  float: left;
  border-right:1px solid #c7c2c2;
}

li:last-child {
  border-right: none;
}

li a { /*testo nei blocchi*/
  padding: 14px 16px;
  text-decoration: none;
  font-family: "PAR";
  font-style: normal;
  text-align: justify;
  color: #c7c2c2;
  font-size: 20px;
}

li a:hover:not(.active) {
  color: #c7c2c2;
}