<!DOCTYPE html>
<html lang="it">
<head>
    <title>MTG - team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Minerva Trading Group about us">
    <meta name="author" content="Alisia Maria Lupidi, Andrea Orlandi">
    <link rel="shortcut icon" href="../static/images/logo.jpg"/>
    
    <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="../static/CSS/style_aboutus.css">
    <script src="../static/JS/jquery-3.4.1.min.js"></script>
    <script src="../static/JS/bootstrap.min.js"></script>
    <script src="../static/JS/bootstrap4-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


</head>
<body class = "body_aboutus">
    
    
    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class = "header">
                <a href = "/"><img src = "../static/images/chiaro-nobg.png" /></a>
            </div>
            <h1 class = "h1_aboutus" style= "margin-top: 10px;">Minerva Trading Group</h1>
            <hr class = "bg-dark">
        </div>
        <hr>

        <div class="ombra">

            <p class = "p_aboutus" style = "margin-left: 30px; margin-right: 30px; font-size: 27px; font-style: italic; padding-bottom: 10px; padding-top: 20px;">Ciao dal devs team - questi siamo noi!</p>
            <p class = "p_aboutus" style= " font-size: 20px; margin-left: 30px; margin-right: 30px; text-align: justify;">
                Per noi, lavorare a questo progetto è stata una delle parti più divertenti del terzo anno. Entrambi abbiamo iniziato il corso
                avendo zero ( Ø ) conoscenze in materia e imparare tutti questi linguaggi e tecnologie è stato impegnativo ma molto divertente, perché
                abbiamo avuto la possibilità di lavorare in gruppo e passare il tempo tra amici - cosa che ci era mancata durante il Covid.
                <br>Ci abbiamo lavorato durante il mese di maggio e in totale abbiamo scritto circa 3k lines-of-code, dividendo il lavoro in modo che ognuno di noi facesse struttura, grafica, DB e server.
            </p>

        
            <div class="grid-container" style=" padding-top: 10px; padding-bottom: 20px; margin-right: 30px; ">

                <ul class="grid-item" style="justify-self: center; font-style: normal;">
                    <p class = "h3_aboutus grid-item" style= "font-style: italic; font-size: 25px; justify-self: center;">Alisia Maria Lupidi</p>
                   
                    Alisia è una studentessa del terzo anno, ha scelto il curriculum in Ingegneria Informatica e il suo linguaggio preferito è C++.
                    Oltre al percorso curriculare, Alisia è membro della squadra di competitive
                    programming dell'università e gareggia alle ICPC SWERC.
                    Finita la triennale, continuerà con la Magistrale in Computer Engineering. 
                    <br>
                    <br>&emsp;-&nbsp;&nbsp;Per ulteriori informazioni: <a href = "https://www.linkedin.com/in/alisia-maria-lupidi" style = "color:black;">Linkedin</a> e
                    <a href = "https://github.com/hufflepuff1089" style = "color:black;">GitHub</a>.
                        
                  
                </ul>

                <ul class="grid-item" style="justify-self: center; font-style: normal;">
                    <p class = "p_aboutus grid-item" style= " font-style: italic; font-size: 25px; justify-self: center;">Andrea Orlandi</p>
                    Andrea è uno studente del terzo anno, ha scelto il curriculum in Ingegneria Informatica e il suo linguaggio preferito è Python.
                    Oltre al percorso curriculare, Andrea programma bot per Telegram con focus su management, intrattenimento e giochi.
                    Finita la triennale, continuerà con la Magistrale in Computer Engineering in Sapienza.
                    <br>
                    <br>&emsp;-&nbsp;&nbsp;Per ulteriori informazioni: <a href = "https://www.linkedin.com/in/orlandi-andrea/" style = "color:black;">Linkedin</a> e 
                    <a href = "https://github.com/Swerd99" style = "color:black;">GitHub</a>.
                </ul>
            </div>
        </div>

    </div>

</body>
</html>