<!-- aggiusta hovering fottuto bottone del cazzo + hovering immagine minerva per home + grafici che si espandono se vuoi-->


<!DOCTYPE html>
<html lang="it">
<head>
    <title> user_x - portfolio</title> <!-- qui metti in modo che si può vedere il nome utente al posto di user_x-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="user_x portfolio">
    <meta name="author" content="Alisia Maria Lupidi, Andrea Orlandi">
    <link rel="shortcut icon" href="../static/images/logo.jpg"/>
    
    <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="../static/CSS/style_portfolio.css">
    <script src="../static/JS/jquery-3.4.1.min.js"></script>
    <script src="../static/JS/bootstrap.min.js"></script>
    <script src="../static/JS/bootstrap4-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


</head>
<body class = "body_portfolio">


    <div class="container-fluid portfolio"> <!-- vedi se funziona senza flex-->
        <div class = "header">
            <a href = "/"><img src = "../static/images/logo.jpg"/></a>
        </div> <!-- hover on the image to log out-->
        
        <div class="row" style="padding-top: 25px">
            <div class = "col-2" style="background-color: transparent;">
                <p class = "p_portfolio"  style="justify-self: left;">User_x</p>
            </div>
            <div class = "col text-right" style="background-color: transparent;"></div>

            <div class = "col text-center">
                <button type="button" class="btn btn-outline-light border-light" style=" background-color: transparent;" onclick=" 'CHIAMA FUNZIONE JS - no apici singoli'">place order</button>
            </div>

            <div class = "col text-right" style="background-color: transparent;"></div>
            <div class = "col text-left" style="background-color: transparent;"></div>
        </div>
    
            
        <div class="grid-container container-fluid" style=" padding-top: 20px;">
            <div class = "grid-item container-fluid" style= "">
                
            </div>
            <div class = "grid-item container-fluid" style= "">
            </div>
            <div class = "grid-item container-fluid" style= "">
            </div>
            <div class = "grid-item container-fluid" style= "">
            </div>
        </div>

        
</body>
</html>      
        
