<!DOCTYPE html>
<html lang="it">
<head>
    <title>MTG - homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Minerva Trading Group homepage">
    <meta name="author" content="Alisia Maria Lupidi, Andrea Orlandi">
    <link rel="shortcut icon" href="../static/images/logo.jpg"/>
    
    <link rel="stylesheet" href="../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="../static/CSS/stupidcss.css">
    <script src="../static/JS/jquery-3.4.1.min.js"></script>
    <script src="../static/JS/bootstrap.min.js"></script>
    <script src="../static/JS/bootstrap4-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


</head>
<body class = "body_homepage">


    <div class="d-flex flex_homepage p-3 flex-column">
        <div class="container-fluid">
            <div class = "header">
                <img src = "../static/images/logo.jpg" />
            </div>
            <h1 class = "h1_homepage">Minerva Trading Group</h1>
            <div style="border-top: 0.8px solid #c7c2c2"></div>
            
            <div class="grid-container" style=" padding-top: 20px; padding-bottom: 3px;">
                <p class = "grid-item p_homepage"  style="text-align: left;">Hi, welcome to our website.</p>
                <ul class="grid-item" style = "justify-self: right;">
                    <li><a href="../static/images/logo.jpg">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>